@font-face {
	font-family: 'NimbusSanNov';
	src: url('../../fonts/NimbusSanNovReg/NimbusSanNovReg.eot');
	src: url('../../fonts/NimbusSanNovReg/NimbusSanNovReg.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/NimbusSanNovReg/NimbusSanNovReg.woff') format('woff'),
	url('../../fonts/NimbusSanNovReg/NimbusSanNovReg.ttf')  format('truetype'),
	url('../../fonts/NimbusSanNovReg/NimbusSanNovReg.svg#NimbusSanNov') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'NimbusSanNov';
	src: url('../../fonts/NimbusSanNovMed/NimbusSanNovMed.eot');
	src: url('../../fonts/NimbusSanNovMed/NimbusSanNovMed.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/NimbusSanNovMed/NimbusSanNovMed.woff') format('woff'),
	url('../../fonts/NimbusSanNovMed/NimbusSanNovMed.ttf')  format('truetype'),
	url('../../fonts/NimbusSanNovMed/NimbusSanNovMed.svg#NimbusSanNovMed') format('svg');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'NimbusSanNov';
	src: url('../../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.eot');
	src: url('../../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.woff') format('woff'),
	url('../../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.ttf')  format('truetype'),
	url('../../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.svg#NimbusSanNovSemBol') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../../fonts/FontAwesome/FontAwesome.eot');
	src: url('../../fonts/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/FontAwesome/FontAwesome.woff') format('woff'),
	url('../../fonts/FontAwesome/FontAwesome.ttf')  format('truetype'),
	url('../../fonts/FontAwesome/FontAwesome.svg#NimbusSanNov') format('svg');
}

