$white: #fff;
$light-grey: #f5f5f5;
$grey: #ededed;
$cool-grey: #d0d0ce;
$real-grey: #a7a8aa;
$smoke: #75787b;
$dark-grey: #53565a;
$darkslategray: #222d32;
$lime-green: #b3d603;
$medina-green: #509e2f;
$royal-blue: #3c8dbc;
$dodger-blue: #43a1d8;
$steel-blue: #257bbc;
$slate-blue: #337ab7;